<!DOCTYPE html>
<html lang="es" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../CSS/Forms/forms.css">
  </head>
  <body>
        <form class="form" action="#" method="post">
          <h2>Iniciar Sesion</h2>
          <p type="Dpi:"><input type="text" name="userName" placeholder="Ingrese su numero de DPI"></input></p>
          <p type="Contraseña:"><input type="text" name="userPassword" placeholder="Ingrese su Contraseña"></input></p>
          <button>Ingresar</button>
        </form>
  </body>
</html>
