<!DOCTYPE html>
<html lang="es" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="../CSS/Forms/forms.css">
  </head>
  <body>
    <form  class="form" action="#" method="post">
        <h2>Registrar nuevo Equipo</h2>
        <p type="Nombre:"><input type="text" name="equipmentName" placeholder="Ingrese el nombre del Equipo"></input></p>
        <p type="Modelo:"><input type="text" name="equipmentModel" placeholder="Ingrese el modelo del Equipo"></input></p>
        <p type="Tiempo de vida:"><input type="text" name="equipmentWork" placeholder="Ingrese el tiempo de vida del equipo en horas"></input></p>
        <p type="Tiempo de mantenimiento:"><input type="text" name="EquipmentMan" placeholder="Ingrese a cada cuanto se debe de dar mantenimiento al equipo"></input></p>
        <button>Registrar Equipo</button>
    </form>
  </body>
</html>
