<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Nuevo Cliente</title>
    <link rel="stylesheet" type="text/css" href="../../CSS/Forms/forms.css">
  </head>
  <body>
    <form class="form" method="post" action="conexionPrueba.php">
      <h2>Crear Cliente</h2>
      <p type="DPI:"><input type="number" placeholder="Ej: 12345670901" min="12" name="dpi"></input></p>  
      <p type="Nombre:"><input type="text" placeholder="Ej: Juan Jose Morales" name="client_name"></input></p>
      <p type="Direccion:"><input type="text" placeholder="Direccion de la empresa" name="direction"></input></p>
      <p type="Departamento:"><input type="text" placeholder="Ej: Quetzaltenango" name="department"></input></p>
      <p type="Empresa:"><input type="text" placeholder="Ej: Purificadora la Gotita" name="company"></input></p>
      <p type="Telefono:"><input type="number" placeholder="Ej: 77315820" min="7" name="phone"></input></p>
      <p type="Telefono Secundario"><input type="number" placeholder="Ej: 55481200" min="7" name="extra_phone"></input></p>
      <p type="Fax:"><input placeholder="Ej: 12365445" name="fax"></input></p>
      <p type="Correo Electronico:"><input type="email" placeholder="Ej: juanjose@lagotita.com" name="email"></input></p>
      <p type="Pagina web:"><input type="text" placeholder="Ej: lagotita.com" name="web"></input></p>
      <select name="costum">
        <option value="1">Empresa Privada</option>
        <option value="2">Empresa Mixta</option>
        <option value="3">Gobierno</option>
        <option value="4">Estudiante</option>
        <option value="5">ONG</option>
      </select>

      <p><input type="Submit" name="addClient" value="Send" /></p>
    <!--  <div>
        <span class="fa fa-phone"></span>46144415
        <span class="fa fa-envelope-o"></span> danielalberto-gonzalezgonzalez@cunoc.edu.gt
      </div> -->
    </form>
  </body>
</html>