<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Modificar Insumo</title>
    <link rel="stylesheet" type="text/css" href="../../CSS/Forms/forms.css">
  </head>
  <body>
    <form class="form">
      <h2>Modificar Insumo</h2>
      <p type="Nombre:"><input type="text" placeholder="Ej: Alcohol"></input></p>
      <p type="Fecha de Caducidad:"><input type="date"></input></p>
      <p type="Cantidad disponible:"><input type="number" placeholder="Ej: 77315820" min="7"></input></p>
      <p type="Sistema de Medicion:"><input placeholder="Ej: 12365445"></input></p>
      <p type="Hoja de seguridad:"><input placeholder="Elegir archivo"></input></p>

      <button>Guardar Cambios</button>
    <!--  <div>
        <span class="fa fa-phone"></span>46144415
        <span class="fa fa-envelope-o"></span> danielalberto-gonzalezgonzalez@cunoc.edu.gt
      </div> -->
    </form>
  </body>
</html>