<!DOCTYPE html>
<html lang="es" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="../CSS/Forms/forms.css">
  </head>
  <body>
      <form class="form" action="#" method="post">
        <h2>Registrar nuevo empleado</h2>
        <p type="Dpi:"><input type="text" name="employeeDpi" placeholder="Ingrese el numero de dpi del cliente"></input></p>
        <p type="Nombre:"><input type="text" name="employeeName" placeholder="Ingrese el nombre del Empleado"></input></p>
        <p type="Telefono:"><input type="text" name="employeePhone" placeholder="Ingrese el numero de telefono del empleado"></input></p>
        <p type="Puesto:"><input type="text" name="employeePosition" placeholder="Seleccione el puesto del empleado"></input></p>
        <p type="Contraseña:"><input type="password" name="employeePosition" placeholder="Defina una Contraseña para el empleado"></input></p>
        <p type="Estado:">
          <select name="state">
            <option value="Activo">Activo</option>
            <option value="Desactivo">Desactivo</option>
          </select>
        </p>
        <button>Registrar Empleado</button>
      </form>
  </body>
</html>
